@import "tailwindcss";

@theme {
  --color-primary: #312e81;
  --color-primary-foreground: #ffffff;
  --color-secondary: #10b981;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
}

* {
  border-color: #e2e8f0;
}

@media print {

  aside,
  .products-section,
  button {
    display: none !important;
  }

  .cart-section {
    width: 100% !important;
    box-shadow: none !important;
    border: none !important;
  }

  body,
  .cart-section {
    background-color: white !important;
    color: black !important;
  }
}